@model WebShop.Models.FinalizeOrderViewModel
@using Microsoft.AspNetCore.Identity
@using WebShop.Dal.Models
@{
    ViewData["Title"] = "Rendelés véglegesítése";
}
@inject SignInManager<WebShopUser> SignInManager
@inject UserManager<WebShopUser> UserManager
<h1>FinalizeOrder</h1>

<hr />
@{ var currentUser = await UserManager.GetUserAsync(User);
    <form asp-action="CreateOrder" asp-route-OrderDto.UserId="@(currentUser.Id)" asp-route-PriceSum="@(Model.PriceSum)" class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-lg-6 col-sm-12">
            <h2>Szállítási adatok</h2>
            <div class="user-data-container">
                <div class="form-group">
                    <label asp-for="OrderDto.DeliveryName" class="control-label"></label>
                    <input asp-for="OrderDto.DeliveryName" class="form-control" value="@(Model.BillingData.Name)" />
                    <span asp-validation-for="OrderDto.DeliveryName" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            <label asp-for="OrderDto.ShippingAddres.Country" class="control-label"></label>
                            <input asp-for="OrderDto.ShippingAddres.Country" class="form-control" />
                            <span asp-validation-for="OrderDto.ShippingAddres.Country" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="OrderDto.ShippingAddres.ZipCode" class="control-label"></label>
                            <input asp-for="OrderDto.ShippingAddres.ZipCode" class="form-control" />
                            <span asp-validation-for="OrderDto.ShippingAddres.ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="OrderDto.ShippingAddres.City" class="control-label"></label>
                            <input asp-for="OrderDto.ShippingAddres.City" class="form-control" />
                            <span asp-validation-for="OrderDto.ShippingAddres.City" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <div class="form-group">
                            <label asp-for="OrderDto.ShippingAddres.Street" class="control-label"></label>
                            <input asp-for="OrderDto.ShippingAddres.Street" class="form-control" />
                            <span asp-validation-for="OrderDto.ShippingAddres.Street" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <label asp-for="OrderDto.ShippingAddres.HouseNumberAndDoor" class="control-label"></label>
                            <input asp-for="OrderDto.ShippingAddres.HouseNumberAndDoor" class="form-control" />
                            <span asp-validation-for="OrderDto.ShippingAddres.HouseNumberAndDoor" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="OrderDto.Comment" class="control-label"></label>
                    <input asp-for="OrderDto.Comment" class="form-control" />
                    <span asp-validation-for="OrderDto.Comment" class="text-danger"></span>
                </div>
                <div class="payment-method">
                    <p>Fizetési mód</p>
                    @foreach (var item in Model.PaymentMethods)
                    {
                        <label class="float-l" for="score1" style="margin-right:15px;">
                            @if (item.ToString() == "Előre utalás")
                            {
                                @(item) <input class="float-l" id="score2" type="radio" name="OrderDto.PaymentMethod" value="@item.ToString()" checked>

                            }
                            else
                            {
                                @(item) <input class="float-l" id="score2" type="radio" name="OrderDto.PaymentMethod" value="@item.ToString()">
                            }

                        </label>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h2>Számlázási adatok</h2>
            <div class="user-data-container">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="OrderDto.TaxName" class="control-label"></label>
                            <input asp-for="OrderDto.TaxName" class="form-control" />
                            <span asp-validation-for="OrderDto.TaxName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="OrderDto.TaxNumber" class="control-label"></label>
                            <input asp-for="OrderDto.TaxNumber" class="form-control" />
                            <span asp-validation-for="OrderDto.TaxNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            <label asp-for="OrderDto.ShippingAddres.Country" class="control-label"></label>
                            <input asp-for="OrderDto.ShippingAddres.Country" class="form-control" />
                            <span asp-validation-for="OrderDto.ShippingAddres.Country" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="OrderDto.ShippingAddres.ZipCode" class="control-label"></label>
                            <input asp-for="OrderDto.ShippingAddres.ZipCode" class="form-control" />
                            <span asp-validation-for="OrderDto.ShippingAddres.ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="OrderDto.ShippingAddres.City" class="control-label"></label>
                            <input asp-for="OrderDto.ShippingAddres.City" class="form-control" />
                            <span asp-validation-for="OrderDto.ShippingAddres.City" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <div class="form-group">
                            <label asp-for="OrderDto.BillingAddres.Street" class="control-label"></label>
                            <input asp-for="OrderDto.BillingAddres.Street" class="form-control" />
                            <span asp-validation-for="OrderDto.BillingAddres.Street" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <label asp-for="OrderDto.BillingAddres.HouseNumberAndDoor" class="control-label"></label>
                            <input asp-for="OrderDto.BillingAddres.HouseNumberAndDoor" class="form-control" />
                            <span asp-validation-for="OrderDto.BillingAddres.HouseNumberAndDoor" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout-box">
                <p>Termékek: @(Model.PriceSum) Ft</p>
                <hr />
                <p>Szállítás: 990Ft</p>
                <hr />
                <p>Összesen: @(Model.PriceSum + 990) Ft</p>
                <div class="form-group">
                    <input type="submit" value="Rendelés véglegesítése" class="btn btn-primary" style="float:right" />
                </div>
            </div>
        </div>
       
    </form>
    

    <div>
        <a asp-action="Index" asp-route-userId="@(currentUser.Id)">Vissza</a>
    </div>

}